<div class="row">
	<h1>CFPs</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
	<ng-container *ngIf="cfps$ | async as cfps; else loading">
		<ng-container *ngFor="let cfp of cfps">
				<div class="col">
					<div class="card bg-dark h-100">
						<img src="{{cfp.eventImage}}" class="card-img-top" alt="{{cfp.eventName}} image">
						<div class="card-body text-center">
							<h5 class="card-title">{{cfp.eventName}}</h5>
							<p class="card-text">{{cfp.slug}}</p>
						</div>
						<div class="card-footer text-center">
							<small class="text-muted"><a href="{{cfp.eventName}}" target="_blank" class="btn btn-outline-light">eventname</a></small>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</div>
	<ng-template #loading>
		<div class="text-center">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</ng-template>