$cfpexchange-primary: #D14734;
$cfpexchange-text: #999;
$cfpexchange-text-muted: #666;
$cfpexchange-text-links: #444;

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}