<div class="row">
	<div class="col justify-content-center">
		<h1>Contact</h1>
	</div>
</div>
<div class="row">
	<div class="col">
		If you want to get in contact, please fill out the form below. We will try to get back to you as soon as possible!
	</div>
</div>
<form method="post" #contactForm="ngForm" (ngSubmit)="sendContact()">
	<div class="row">
		<div class="col">
			<label for="name" class="form-label">Name</label>
			<input type="text" class="form-control" name="name" [(ngModel)]="Contact.name" placeholder="Your name" required />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label for="email" class="form-label">Email address</label>
			<input type="email" class="form-control" name="email" [(ngModel)]="Contact.email" placeholder="Your email address" required />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label for="message" class="form-label">Message</label>
			<textarea class="form-control" name="message" [(ngModel)]="Contact.message" placeholder="Your message" required></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col text-end">
			<input type="submit" value="Send" class="btn btn-danger" id="submit" [disabled]="!contactForm.form.valid" />
		</div>
	</div>
</form>